<div class="card">
    <div class="card-body">
        <h1>{{restaurante.nome}}</h1>
        <hr>
        <small>Categoria: {{restaurante.categoria.nome}}</small>
        <hr>
        {{restaurante.descricao}}
        <br>
        {{restaurante.contato}}
        <br>
        {{restaurante.endereco}}
        <br>
        {{restaurante.vaga}}
        <br>
    </div>
</div>
